<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout1.html}">
<div id="container" layout:fragment="content">
    <!-- location_area -->
    <div class="location_area customer">
        <div class="box_inner">
            <h2 class="tit_page">TOURIST <span class="in">in</span> TOUR</h2>
            <p class="location">고객센터 <span class="path">/</span> 공지사항</p>
            <ul class="page_menu clear">
                <li><a href="#" class="on">공지사항</a></li>
                <li><a href="#">문의하기</a></li>
            </ul>
        </div>
    </div>
    <!-- //location_area -->

    <!-- bodytext_area -->
    <div class="bodytext_area box_inner">
        <form action="#" class="minisrch_form">
            <fieldset>
                <legend>검색</legend>
                <input type="text" class="tbox" title="검색어를 입력해주세요" placeholder="검색어를 입력해주세요">
                <a href="javascript:;" class="btn_srch">검색</a>
                <a href="/ex/notice_add" class="btn_srch">등록</a>
            </fieldset>
        </form>
        <table class="bbsListTbl" summary="번호,제목,조회수,작성일 등을 제공하는 표">
            <caption class="hdd">공지사항 목록</caption>
            <thead>
            <tr>
                <th scope="col">번호</th>
                <th scope="col">제목</th>
                <th scope="col">조회수</th>
                <th scope="col">작성일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="notice:${noticeList}">
                <td th:text="${notice.no}"></td>
                <td class="tit_notice"><a th:href="|@{/ex/notice_view(no=${notice.no})}|">[[${notice.title}]]</a></td>
                <td>[[${notice.count}]]</td>
                <td>[[${#temporals.format(notice.regDate, 'yyyy-MM-dd')}]]</td>
            </tr>

            </tbody>
        </table>
        <!-- pagination -->
        <div class="float-end">
            <ul class="pagination flex-wrap">
                <li class="page-item" th:if="${responseDTO.prev}">
                    <a class="page-link" th:data-num="${responseDTO.start -1}">이전</a>
                </li>
                <th:block th:each="i: ${#numbers.sequence(responseDTO.start, responseDTO.end)}">
                    <li th:class="${responseDTO.page == i}?'page-item active':'page-item'">
                        <a class="page-link" th:data-num="${i}">[[${i}]]</a>
                    </li>
                </th:block>
                <li class="page-item" th:if="${responseDTO.next}">
                    <a class="page-link" th:data-num="${responseDTO.end +1}">다음</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</html>